In [17]:
from query_data import DataFetch

data_store = DataFetch()

try: 
    tp_conv = data_store.get_data('tp_conv')
    con_per_p = data_store.get_data('con_per_p')
    agg_conn_type = data_store.get_data('agg_conn_type')
    chan_conv = data_store.get_data('chan_conv')
except Exception as err:
    print(err)

In [11]:
agg_conn_type

   conversion_rate_total  conversion_rate_per_user  views_per_user   ptype
0                 0.0428                    0.0946       65.938450  RESORT
1                 0.1474                    0.2267        8.283078   HOTEL
2                 0.0031                    0.0045       10.210306    None
3                 0.1186                    0.1855        3.125496  DINING
4                 0.4256                    0.6057        4.307135  OFFERS

In [14]:
con_per_p

,page,conversion_rate_total,conversion_rate_per_user,views_per_user
0,Faro Blanco Resort Yacht Club - Reservations -...,0.0000,0.0000,3.565647
1,Hotels In Marathon FL | Faro Blanco Resort & M...,0.1313,0.2082,1.586057
2,Faro Blanco Resort | Resorts in Marathon FL | ...,0.1039,0.1689,1.625717
3,(not set),0.0000,0.0000,1.444212
4,Faro Blanco Resort Yacht Club - Reservations -...,0.0541,0.1277,2.361177
...,...,...,...,...
58,Groups | Faro Blanco Resort & Yacht Club,0.0288,0.0345,1.195402
59,Marathon FL Family Resorts | Privacy Policy | ...,0.0370,0.0566,1.528302
60,Marathon Wedding Venues | Faro Blanco Resort &...,0.0000,0.0000,1.391304
61,Faro Blanco Resort Yacht Club - Reservations -...,0.0000,0.0000,1.100000
62,Balneario Faro Blanco | Hoteles en Marathon FL...,0.0000,0.0000,0.023256

In [18]:
chan_conv

        default_channel_group   conversions
0              Organic Search  15238.715750
1                 Paid Search   7970.363212
2                      Direct   2999.000000
3              Organic Social   1505.144646
4                    Referral   1461.769686
5                       Email   1044.508931
6                 Paid Social    920.349988
7                  Unassigned    242.530930
8                     Display    167.555387
9               Cross-network    115.839248
10  Mobile Push Notifications      5.222222
11                 Paid Other      1.000000

In [16]:
tp_conv

    num_touchpoints  num_conversions
0                 2          10819.0
1                 1          10946.0
2                 3           2817.0
3                 4           1754.0
4                 5           1197.0
5                 6            792.0
6                50            379.0
7                 7            503.0
8                 8            383.0
9                 9            261.0
10               10            244.0
11               11            179.0
12               12            173.0
13               13            109.0
14               14            134.0
15               16             81.0
16               15             90.0
17               17             84.0
18               29             54.0
19               18             47.0
20               20             58.0
21               19             76.0
22               25             35.0
23               24             37.0
24               23             32.0
25               22             38.0
26               28             29.0
27               21             46.0
28               27             25.0
29               26             24.0
30               30             20.0
31               35             17.0
32               32             14.0
33               31             17.0
34               33             17.0
35               42             12.0
36               41             11.0
37               34             11.0
38               37              8.0
39               40              5.0
40               43              5.0
41               46              8.0
42               47             11.0
43               38              8.0
44               49             14.0
45               44              9.0
46               39              9.0
47               45             12.0
48               36             12.0
49               48              6.0